[Unit]
Description=beaver-rev-proxy.service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/beaver-web/project
EnvironmentFile=/opt/beaver-web/project/.env
ExecStart=npm --prefix /opt/beaver-web/project/rev-proxy start
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
